/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Set Poppins as the default font for everything */
body {
  font-family: "Poppins", sans-serif;

  background-size: cover;
  background-position: center;
  color: white;
  margin: 0;
}

/* General styling for cards */
.card.shoelace-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #343a40;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Visible box shadow */
  color: #f8f9fa;
}

/* Add visible box shadow to other elements */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Visible box shadow for the navbar */
}

/* Styling for hero section */
.hero {
  height: 600px;
  image-rendering: crisp-edges;
  padding: 100px 0;
  text-align: center;
  background-image: url("businesspeople-working-finance-accounting-analyze-financi.jpg");
  background-size: cover;
  background-position: center;
}

/* Styling for services section */
.services {
  padding: 50px 0;
}

/* Additional styles for heading and paragraph */
.shoelace-heading {
  color: #f8f9fa;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shoelace-paragraph {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 15px;
}
